.footer{
    background: #0a1d37  ;
    padding-bottom:   30px;
    padding-top:  60px   ;
}

.text-footer{
    line-height : 30px ;
    color:rgba(255,255,255,0.735) ;
}

.footer_links ul li{
    background: var(--primary-color) !important;
  }
  
  .footer_links ul li a{
    text-decoration:none;
    color : rgba(255,255,255 , 0.735)
  
  }

  .quicl_links{
    margin-bottom: 20px; 
    color: #fff;
    font-size:1.1rem;
  }

.footer-contact{
    color : rgba(255,255,255 , 0.735)

}

.footer-contact span{
font-size:1.2rem
}
